*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

    body{
    background-color: #232323}
    .img1{
    background: rgba(0, 0, 0, 0.4);
    background-size: max(1000px, 100vw);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
   
    
    }
  .first img{
    height: 95vh;
    width: 100vw;
    object-fit: cover;
    object-position: bottom;
  }
  .nav1{
    display: flex;
    z-index: 20;
  }
  .nav1 img{
    width: 152px;
    z-index: 2;
    position: relative;
    left: 183px;
    top: 37px;

  }
   .button{
    position: relative;
    left: 1000px;
    z-index: 2;
    top: 37px;
    
   }

   .button1{
    height: 37px;
    width: 124px;
    margin-right: 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    border: 1px solid #5f5f5f;
    border-radius:5px ;

      
}
   
   .button2{
    height: 37px;
    width: 124px;
    margin-right: 20px;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    color: aliceblue;
    border: 1px solid #5f5f5f;
    border-radius:5px ;
   }
   .writing{
    width: 90vw;
    height: 30vh;
    position: relative;
    left: 100px;
    bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   }
   .head{
     color: rgb(246, 246, 247);
   }
   .para{
    color: rgb(246, 246, 247);
   }
   .para2{
    color: white;
   }
   #input{

   }
   #label{
    color: white;
   }
